<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="main.css" />

    <style>
        .entry {
            border: 1px solid #aaa;
            padding: 8px;
            margin: 4px 2px;
        }

        select:disabled {
            opacity: 1;
            border: none;
            color: inherit;
            appearance: none;
            background: none;
            font-size: inherit;
            user-select: text;
        }

        pre {
            max-height: 250px;
            overflow: scroll;
            width: 100%;
            background: #eee;
            padding: 8px;
            margin: 4px;
            background: #333;
            color: #f5f5f5;
            box-shadow: 0 2px 4px rgb(0 0 0 / 60%) inset;
        }

        #graph {
            width: 100%;
        }

        body {
            background: #222;
        }

        .type {
            margin: 6px;
            margin-left: 0;
            text-transform: capitalize;
        }

        .pokemon-icon {
            width: 40px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            background-image: url('./lib/pokemonicons-sheet.png');
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-color: transparent;
        }

        #graph svg+div {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" style="display: none">
        <div style="display: flex; align-items: stretch;" v-if="team.length">
            <pre>{{ teamScore.defensiveness }}</pre>
            <div id="graph" v-if="teamGraph?.edges.length"></div>
            <pre>{{ teamScore.offensiveness }}</pre>
        </div>

        <table style="width: 100%; border-collapse: collapse; color: #f5f5f5;">
            <tr style="text-align: left;">
                <th></th>
                <th>Pokemon</th>
                <th>Typing</th>
                <th>Tera</th>
                <th>Ability</th>
                <th>Style</th>
                <th @click="sortBy = 'defensiveness'" title="Lower is better">
                    Def. Score
                    <template v-if="sortBy === 'defensiveness'">↓</template>
                </th>
                <th @click="sortBy = 'offensiveness'" title="Higher is better">
                    Off. Score
                    <template v-if="sortBy === 'offensiveness'">↓</template>
                </th>
                <th @click="sortBy = 'totalScore'" title="Off. Score - Def.Score, so higher is better">
                    Overall Score
                    <template v-if="sortBy === 'totalScore'">↓</template>
                </th>
                <th @click="sortBy = 'duplicateWeaknesses'">
                    Shared Weaknesses
                    <template v-if="sortBy === 'duplicateWeaknesses'">↓</template>
                </th>
            </tr>
            <tr v-for="{ pokemon, defensiveness, offensiveness, duplicateWeaknesses, alreadyOnTeam } in relativelyScoredPokemon"
                class="entry"
                :style="{ background: alreadyOnTeam ? '#07a' : !duplicateWeaknesses && team.length ? '#0a0' : null }">
                <td>
                    <button @click="addToTeam(pokemon)" v-if="!team.includes(pokemon)"
                        :disabled="team.length >= 6 || teamHasAlternateForm(pokemon)"
                        style="width: 32px; height: 32px; font-size: 24px;">
                        +
                    </button>
                    <button @click="removeFromTeam(pokemon)" v-if="team.includes(pokemon)"
                        style="width: 32px; height: 32px; font-size: 24px;">
                        -
                    </button>
                </td>
                <td>
                    <span class="pokemon-icon"
                        :style="{ 'background-position-x': sheetLocations[pokemon.name].x + 'px', 'background-position-y': sheetLocations[pokemon.name].y + 'px' }"></span>
                    {{ pokemon.name }}
                </td>
                <td>
                    <template v-if="pokemon.types.length > 1">
                        <span class="type offensive">
                            <span v-for="type in pokemon.types" class="dual"
                                :style="{ background: getTypeColor(type) }">
                                {{ type }}
                            </span>
                        </span>
                    </template>
                    <template v-else>
                        <span v-for="type in pokemon.types" class="type" :style="{ background: getTypeColor(type) }">
                            {{ type }}
                        </span>
                    </template>
                </td>
                <td>
                    <span class="type" :style="{ background: getTypeColor(pokemon.tera.bestDef) }">
                        {{ pokemon.tera.bestDef }}
                        <template v-if="pokemon.tera.bestDef === pokemon.tera.bestOverall">
                            *
                        </template>
                    </span>
                    <span class="type" :style="{ background: getTypeColor(pokemon.tera.bestOff) }">
                        {{ pokemon.tera.bestOff }}
                        <template v-if="pokemon.tera.bestOff === pokemon.tera.bestOverall">
                            *
                        </template>
                    </span>
                    <span class="type" :style="{ background: getTypeColor(pokemon.tera.bestOverall) }"
                        v-if="pokemon.tera.bestOverall !== pokemon.tera.bestDef && pokemon.tera.bestOverall !== pokemon.tera.bestOff">
                        {{ pokemon.tera.bestOverall }}
                    </span>
                </td>
                <td>
                    <select v-model="pokemon.selectedAbility" @change="abilityUpdated(pokemon)"
                        :disabled="pokemon.abilities.length <= 1" style="width: 132px; padding: 2px;">
                        <option v-for="ability in pokemon.abilities">{{ ability }}</option>
                    </select>
                </td>
                <td>{{ getAttackStyle(pokemon) }}
                </td>
                <td>{{ defensiveness?.score.toFixed(1) }}</td>
                <td>{{ offensiveness?.score.toFixed(1) }}</td>
                <td>{{ offensiveness && defensiveness ? (offensiveness.score - defensiveness.score).toFixed(1) : null }}
                </td>
                <td>{{ duplicateWeaknesses }}</td>
            </tr>
        </table>
    </div>

    <script src="lib/vue.js"></script>
    <script src="lib/anychart-core.min.js"></script>
    <script src="lib/anychart-graph.min.js"></script>

    <script type="module">
        import { ABILITIES, TYPES, POKEMON, CUSTOM_ICON_NUMBERS } from './dump.js';
        import { getDefensiveScoreEntry, getOffensiveScoreEntry, getOffensiveScore, multiply, max, noSharedWeaknesses, TYPE_COLORS } from './shared.js';

        const app = new Vue({
            el: "#app",
            created() {
                document.getElementById("app").style.display = null;
            },
            data: {
                team: [],
                usablePokemon: POKEMON.filter(x => {
                    if (!x?.oob?.dex_number)
                        return false;

                    let minLength = 1;

                    const ignoredFormats = ['National Dex', 'LC', 'NFE', 'CAP'];

                    ignoredFormats.forEach(format => {
                        if (x.formats.includes(format)) minLength++;
                    });

                    return x.formats.length >= minLength;
                }),
                sortBy: 'defensiveness',
                chart: null
            },
            methods: {
                addToTeam(pokemon) {
                    this.team.push(pokemon);
                },
                removeFromTeam(pokemon) {
                    this.team = this.team.filter(x => x !== pokemon);
                },
                abilityUpdated(pokemon) {
                    this.usablePokemon = this.usablePokemon.slice();
                    setTimeout(() => {
                        this.team = this.team.slice();
                    });
                },
                getTeamDefensiveness(team) {
                    if (!team.length)
                        return null;

                    let duplicateWeaknesses = {};
                    let typeMultipliers = null;

                    team.forEach(pokemon => {
                        Object.keys(pokemon.defensiveness.typeMultipliers).forEach(type => {
                            if (pokemon.defensiveness.typeMultipliers[type] > 1) {
                                if (!duplicateWeaknesses[type])
                                    duplicateWeaknesses[type] = 1;
                                else
                                    duplicateWeaknesses[type]++;
                            }
                        });

                        if (!typeMultipliers) {
                            typeMultipliers = pokemon.defensiveness.typeMultipliers;
                        }
                        else {
                            typeMultipliers = multiply(typeMultipliers, pokemon.defensiveness.typeMultipliers);
                        }
                    });

                    Object.keys(duplicateWeaknesses).forEach(type => {
                        if (duplicateWeaknesses[type] <= 1)
                            delete duplicateWeaknesses[type];
                    });

                    const score = Object.values(typeMultipliers).reduce((a, b) => a + b);

                    return { score, duplicateWeaknesses, typeMultipliers };
                },
                getTeamOffensiveness(team) {
                    if (!team.length)
                        return null;

                    let typeMultipliers = null;

                    team.forEach(pokemon => {
                        if (!typeMultipliers) {
                            typeMultipliers = pokemon.offensiveness.typeMultipliers;
                        }
                        else {
                            typeMultipliers = max(typeMultipliers, pokemon.offensiveness.typeMultipliers);
                        }
                    });

                    const score = getOffensiveScore(typeMultipliers, true);

                    return { score: score.score, coverages: score.coverages, typeMultipliers };
                },
                compare(a, b, sortBy) {
                    if (sortBy === 'defensiveness')
                        return a.defensiveness.score - b.defensiveness.score;
                    else if (sortBy === 'offensiveness')
                        return b.offensiveness.score - a.offensiveness.score;
                    else if (sortBy === 'duplicateWeaknesses')
                        return a.duplicateWeaknesses - b.duplicateWeaknesses;
                    else if (sortBy === 'totalScore')
                        return (b.offensiveness.score - b.defensiveness.score) - (a.offensiveness.score - a.defensiveness.score);
                },
                getAttackStyle(pokemon) {
                    const abilityTypes = {
                        'Huge Power': 'Physical',
                        'Pure Power': 'Physical'
                    };

                    if (abilityTypes[pokemon.selectedAbility])
                        return abilityTypes[pokemon.selectedAbility];

                    if (pokemon.atk > pokemon.spa * 1.1)
                        return 'Physical'

                    if (pokemon.spa > pokemon.atk * 1.1)
                        return 'Special';

                    return 'Mixed';
                },
                getTypeColor(type) {
                    return TYPE_COLORS[type.toLowerCase()];
                },
                getRecommendedTeraType(pokemon) {
                    const types = pokemon.types.map(x => x.toLowerCase());

                    let bestDef;
                    let bestOff;
                    let bestOverall;

                    TYPES.map(x => x.name.toLowerCase()).forEach(type => {
                        if (types.includes(type)) return;

                        const def = getDefensiveScoreEntry([...types, type], this.typedDefensiveAbilities[pokemon.selectedAbility]);
                        const off = getOffensiveScoreEntry([...types, type], this.possiblePokemonDefenses);
                        const overall = { def, off, score: off.score - def.score, type };

                        if (!bestDef || def.score < bestDef.score) bestDef = def;

                        if (!bestOff || off.score > bestOff.score) bestOff = off;

                        if (!bestOverall || overall.score > bestOverall.score) bestOverall = overall;
                    });

                    return {
                        bestDef: bestDef.types.slice(-1)[0],
                        bestOff: bestOff.types.slice(-1)[0],
                        bestOverall: bestOverall.type,
                        ability: pokemon.selectedAbility
                    };
                },
                teamHasAlternateForm(pokemon) {
                    return this.team.some(x => x.oob.dex_number === pokemon.oob.dex_number);
                },
                getDataUrl(pokemon) {
                    const { x, y } = this.sheetLocations[pokemon.name];

                    const img = new Image();
                    img.src = './lib/pokemonicons-sheet.png';

                    const width = 40;
                    const height = 30;

                    const canvas = document.createElement('canvas');
                    canvas.width = Math.max(width, height);
                    canvas.height = canvas.width;

                    const dx = (canvas.width - width) / 2;
                    const dy = (canvas.height - height) / 2;

                    const ctx = canvas.getContext('2d');
                    ctx.drawImage(img, -x, -y, width, height, dx, dy, width, height);

                    return canvas.toDataURL();
                }
            },
            computed: {
                teamScore() {
                    return { defensiveness: this.getTeamDefensiveness(this.team), offensiveness: this.getTeamOffensiveness(this.team) };
                },
                teamGraph() {
                    if (!this.team.length) return;

                    const graph = {
                        nodes: this.team.map(x => ({
                            id: x.name,
                            fill: { src: this.getDataUrl(x) }
                        })),
                        edges: []
                    };

                    for (let i = 0; i < this.team.length; i++) {
                        const pokemonA = this.team[i];

                        for (let j = i + 1; j < this.team.length; j++) {
                            const pokemonB = this.team[j];

                            if (noSharedWeaknesses(pokemonA.defensiveness, [pokemonB.defensiveness]))
                                graph.edges.push({ from: pokemonA.name, to: pokemonB.name });
                        }
                    }

                    return graph;
                },
                possiblePokemonDefenses() {
                    const result = {};

                    this.usablePokemon.forEach(pokemon => {
                        pokemon.abilities.forEach(ability => {
                            const defensiveness = getDefensiveScoreEntry(pokemon.types.map(x => x.toLowerCase()), this.typedDefensiveAbilities[ability]);

                            if (defensiveness.ability && pokemon.abilities.length > 1)
                                result[`${pokemon.name} (${ability})`] = defensiveness;
                            else
                                result[pokemon.name] = defensiveness;
                        });
                    });

                    return result;
                },
                scoredPokemon() {
                    return this.usablePokemon.map(pokemon => {
                        let defensiveness;
                        let offensiveness;

                        if (!pokemon.selectedAbility) {
                            defensiveness = pokemon.abilities.reduce((best, ability) => {
                                const check = getDefensiveScoreEntry(pokemon.types.map(x => x.toLowerCase()), this.typedDefensiveAbilities[ability]);
                                check.ability = ability;

                                if (!best || check.score < best.score)
                                    return check;

                                return best;
                            }, null);

                            pokemon.selectedAbility = pokemon.selectedAbility || defensiveness?.ability || pokemon.abilities[0];
                        }
                        else {
                            defensiveness = getDefensiveScoreEntry(pokemon.types.map(x => x.toLowerCase()), this.typedDefensiveAbilities[pokemon.selectedAbility]);
                        }

                        offensiveness = getOffensiveScoreEntry(pokemon.types.map(x => x.toLowerCase()), this.possiblePokemonDefenses);

                        pokemon.defensiveness = defensiveness;
                        pokemon.offensiveness = offensiveness;

                        if (!pokemon.tera || pokemon.tera.ability !== pokemon.selectedAbility)
                            pokemon.tera = this.getRecommendedTeraType(pokemon);

                        return pokemon;
                    }).sort((a, b) => a.defensiveness.score - b.defensiveness.score);
                },
                relativelyScoredPokemon() {
                    return this.scoredPokemon.map(pokemon => {
                        const alreadyOnTeam = this.team.includes(pokemon);

                        const defensiveness = !alreadyOnTeam ? this.getTeamDefensiveness([...this.team, pokemon]) : this.getTeamDefensiveness(this.team.filter(x => x !== pokemon));
                        const offensiveness = !alreadyOnTeam ? this.getTeamOffensiveness([...this.team, pokemon]) : this.getTeamOffensiveness(this.team.filter(x => x !== pokemon));

                        return { pokemon, defensiveness, offensiveness, alreadyOnTeam, duplicateWeaknesses: defensiveness ? Object.values(defensiveness.duplicateWeaknesses).reduce((acc, x) => acc + x - 1, 0) : 0 };
                    }).sort((a, b) => (b.alreadyOnTeam - a.alreadyOnTeam) || this.compare(a, b, this.sortBy));
                },
                typedDefensiveAbilities() {
                    const keyWords = ['halved', 'immun', '1.25x', '1/4', '3/4', '2x'];
                    const ignored = ['Sandstorm', 'Status moves'];

                    return ABILITIES
                        .filter(x => keyWords.some(word => x.description.includes(word)) &&
                            !ignored.some(i => x.description.includes(i))
                        )
                        .map(x => ({ ...x, defensiveness: getDefensiveness(x.description) }))
                        .filter(x => Object.keys(x.defensiveness).length)
                        .reduce((acc, x) => (acc[x.name] = x, acc), {});
                },
                sheetLocations() {
                    const result = {};
                    const cols = 12;

                    const width = 40;
                    const height = 30;

                    POKEMON.forEach(pokemon => {
                        const customDexNumber = CUSTOM_ICON_NUMBERS[pokemon.name.replace(/[^A-z]/g, '').toLowerCase()];
                        const dexNumber = customDexNumber || pokemon?.oob?.dex_number;

                        if (!dexNumber || result[pokemon.name]) return;

                        let y = -Math.floor(dexNumber / cols);
                        let x = -dexNumber - y * cols;

                        y *= height;
                        x *= width;

                        result[pokemon.name] = { x, y };
                    });

                    return result;
                }
            },
            filters: {
                shortName(name) {
                    return name.slice(0, 3);
                },
                abilityName(ability) {
                    return ability.split('-').map(x => x[0].toUpperCase() + x.slice(1)).join(' ').replace('Well Baked', 'Well-Baked');
                },
                asFraction(value) {
                    if (value == 0.5) return "½";
                    else if (value == 0.25) return "¼";

                    return value;
                },
            },
            watch: {
                teamGraph() {
                    if (this.teamGraph?.edges.length) {
                        setTimeout(() => {
                            if (this.chart)
                                this.chart.dispose();

                            this.chart = anychart.graph(this.teamGraph);
                            this.chart.background().fill({ keys: ['transparent'] });
                            this.chart.padding().bottom(24);
                            this.chart.rotation(45);

                            this.chart.nodes().labels().enabled(true);
                            this.chart.nodes().labels().format("{%id}");
                            this.chart.nodes().labels().fontSize(12);
                            this.chart.nodes().labels().fontColor('#f5f5f5');
                            this.chart.nodes().labels().fontWeight(600);

                            this.chart.nodes().stroke(null);
                            this.chart.nodes().height(40);

                            this.chart.container("graph").draw();

                            [...document.getElementsByTagName('clipPath')].forEach(x => x.remove());
                        }, 0);
                    }
                }
            }
        });

        function getDefensiveness(description) {
            description = description.toLowerCase();

            const result = {};

            const modifier = description.includes('immun') ? 0 : description.includes('halved') ? 0.5 : 1;

            TYPES.map(type => type.name).forEach(typeName => {
                typeName = typeName.toLowerCase();

                if (description.includes(`is healed 1/4 by ${typeName}`))
                    result[typeName] = 0;

                else if (description.includes(`is hurt 1.25x by ${typeName}`))
                    result[typeName] = 1.25;

                else if (description.includes(`2x damage from ${typeName}`))
                    result[typeName] = 2;

                else if (description.includes(typeName.toLowerCase()))
                    result[typeName] = modifier;
            });

            if (description.includes('3/4 damage from supereffective'))
                result['super-effective'] = 0.75;

            return result;
        }
    </script>
</body>